@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body {
    font-family: 'Open Sans';
    max-width: 1440px;
    margin: 0 auto;
}

body.scrollBlocked {
    overflow: hidden;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 17px;
    align-items: center;

    border-bottom: 2px solid #C7C7C7;
}

.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 24px 16px 12px;

    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sort__button,
.filter__button {
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 100%;
    background-color: transparent;
    border: 1px solid #666;
}

.mobile__buttons {
    display: flex;
}

// sort modal

.sort__modal {
    display: none;
}

.sort__modal--open {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    border-bottom: 1px solid #666;
}

.modal__title {
    color: #666;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sort__options {
    display: flex;
    flex-direction: column;
    padding: 30px 16px;

    row-gap: 30px;
}

.sort__option {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background-color: transparent;
    border: none;

    display: flex;
}

// filter modal

.filter__modal {
    display: none;
}

.filter__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 746px;
    height: 100%;
}

.filter__modal--open {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
}

.close__modal {
    border: none;
    background-color: transparent;
}

.filter__options {
    display: flex;
    flex-direction: column;
    padding: 30px 16px;

    row-gap: 30px;
}

.option__color,
.option__size,
.option__price {
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;

    background-color: transparent;
    border: none;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.list__option {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    display: flex;
    align-items: center;

    column-gap: 10px;
}

.color__checkbox {
    width: 16px;
    height: 16px;
}

.filter__size {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    max-width: 153px;
    gap: 8px;
}

.options__size {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.50);

    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.price__options {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.price__option {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.price__option label {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.filter__apply {
    display: flex;
    column-gap: 23px;
    padding: 0 16px;
}

.apply {
    width: 100%;
    height: 35px;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: #00C0EE;
    border: none;
}

.clear {
    width: 100%;

    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: 1px solid #666;
    background-color: transparent;
}

.show-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 38px auto 44px;
}

.search__show-more {
    cursor: pointer;
}

.search__show-more {
    background: #00C0EE;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border: none;

    width: 175px;
    height: 35px;
}

.products {
    display: grid;
}

.product__shelf {
    width: 195.25px;
    height: 424px;
}

.product__name {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.product__price {
    display: flex;
    flex-direction: column;
    margin: 10px auto 14px;
}

.product__list-price {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.product__installments {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.add-to-cart {
    background: #000;
    max-width: 195px;
    width: 100%;
    border: none;
    height: 33px;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.orderBy__button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.50);
    width: 142px;
    height: 42px;

    justify-content: space-between;
    align-items: center;
    display: flex;

    cursor: pointer;
}

.orderBy {
    position: relative;
}

.orderBy__options {
    display: none;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-top: none;
}

.orderBy__options.active {
    display: flex;
    position: absolute;
    width: 140px
}

.orderBy__option {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 0 9px 8px;

    cursor: pointer;

    &:hover {
        background: var(--primaria, #00C0EE);
    }
}

.price-checkbox {
    width: 16px;
    height: 16px;
}

@media (max-width: 1024px) {
    .filter__mobile {
        width: 90vw;
        margin: 0 auto 34px;
    }

    .filter__desktop {
        display: none;
    }

    .products {
        grid-template-columns: repeat(2, 2fr);
        margin: 0 16px;
        gap: 18px;
        max-height: 820px;
        overflow: hidden;
    }

    .products.active {
        height: 100%;
        overflow: initial;
        max-height: initial;
    }

    .filter__color,
    .filter__size,
    .filter__price {
        display: none;
    }

    .filter__color--open,
    .filter__price--open {
        display: block;
    }

    .filter__size--open {
        display: grid;
    }

    .product__shelf {
        width: 100%;
    }

    .product__image {
        height: 242px;
    }

    .orderBy {
        display: none;
    }
}

@media (min-width: 1025px) {
    .filter__mobile {
        display: none;
    }

    .filter__price {
        display: inline;
    }

    .results {
        display: flex;
        column-gap: 180px;
    }

    .products {
        grid-template-columns: repeat(3, 3fr);
        gap: 40px 64px;
        max-height: 1354px;
        overflow: hidden;
    }

    .products.active {
        height: 100%;
        overflow: initial;
        max-height: initial;
    }
}